extends base

block content
  include _placeOfImage
  body.articleContainer
    // Header
    header.banner
      span.background(style=`background-image:url(${article.idPoster});`)
      h1.header= article.title
    // Other stuff
    main.mainContainer
      article
        h1.headerArticle= ` ${article.nameF}`
        h1.headerArticle= `نوسینی: ${article.writingN}`
        h1.headerArticle(dir='rtl')= `وەرگێڕانی: ${article.translator}`
        - const parapraphs = article.description.split('\n');
      each p in parapraphs
        p.description__text
          span(lang="ar" dir="rtl")= p


    script(src="/js/article.js")