extends base

block content
  include _placeOfImage
  body.articleContainer
    // Header
    header.banner
      span.background(style=`background-image:url(${article.idPoster});`)
      h1.header= article.title
    // Other stuff
    main.mainContainer
      article
        h1.headerArticle= ` ${article.nameF}`
        h1.headerArticle= `نوسینی: ${article.writingN}`
        if article.translator
          h1.headerArticle(dir='rtl')= `وەرگێڕانی: ${article.translator}`
        if(typeof article.hasViewd === 'undefined' && article.hasViewd >= 200)
          h1.headerArticle.i.fa.fa-eye= ` بینین ${0}`
        else
          h1.headerArticle.i.fa.fa-eye= ` بینین ${article.hasViewd}`
        //- else if(article.hasViewd >= 200)
        //-   h1.headerArticle.i.fa.fa-eye= ` بینین ${article.hasViewd}`
        - const parapraphs = article.description.split('\n');
      each p in parapraphs
        p.description__text
          span(lang="ar" dir="rtl")= p


    script(src="/js/article.js")