extends base

block content
    include _placeOfImage
    section.posterOne
        .posterOne__title(href="#")
            p.top_title_poster چەشنەکان
        .posters

            each poster in chashn
                .poster_container_nice
                    .card_poster_nice
                        
                        .img1(style=`background-image:url(${poster.idPoster});`)
                        //.img2(style=`background-image:url(${poster.idPoster});`)
                        a(href=`/movies/${poster._id}`).text= poster.description
                        a(href=`/movies/${poster._id}`)
                            .catagory چەشنەکان
                                i.fas.fa-film
                        a(href=`/movies/${poster._id}`)
                            //.views= poster.hasViewd
                                i.far.fa-eye
                    a(href=`/movies/${poster._id}`).card_poster_other
                        p.poster__titleFilm= poster.title