extends base

block content
    .profiles__title(href="#")
      p پرۆفایلەکان
    section.profiles
        .profiles__title(href="#")
          p 
        .pros
            each p in developer
                a.pro(href=`${p.href}`)
                  img.pro__img(src=`/img/profile/${p.imageProfile}`, alt="" title="Join to his Facebook" loading="lazy")
                  .realtors__details
                    p.realkljtors__sold= p.memberName  
                    h4.heading-4.heading-4--light= p.typeAction
    section.profiles
        .profiles__title(href="#")
          p نەخشاندنی پۆستەرەکان لەلایەن
        .pros
            each p in naxshandn
                a.pro()
                  img.pro__img(src=`/img/profile/${p.imageProfile}`, alt="")
                  .realtors__details
                    p.realkljtors__sold= p.memberName
    section.profiles
        .profiles__title(href="#")
          p وەرگێڕ و نووسەرەکان
        .pros 
            each p in profile
                a.pro(href=`/member/${p.slugMember}`)
                  img.pro__img(src=`/img/profile/${p.imageProfile}`, alt="")
                  .realtors__details
                    p.realkljtors__sold= p.memberName
                    h4.heading-4.heading-4--light= `(${p.numOfPosters}) ژمارەی بەرهەم`    