extends base

block content
    .profiles__title(href="#")
      p پرۆفایلەکان
    section.profiles
        .profiles__title(href="#")
          p دروستکەر و دیزاینەری وێبسایت
        .pros
            each p in profile
                a.pro(href=`/member/${p.slugMember}`)
                  img.pro__img(src=`/img/profile/${p.imageProfile}`, alt="Poster 1")
                  .realtors__details
                    p.realkljtors__sold= p.memberName  
    section.profiles
        .profiles__title(href="#")
          p نەخشاندنی پۆستەرەکان لەلایەن
        .pros
            each p in profile
                a.pro(href=`/member/${p.slugMember}`)
                  img.pro__img(src=`/img/profile/${p.imageProfile}`, alt="Poster 1")
                  .realtors__details
                    p.realkljtors__sold= p.memberName
    section.profiles
        .profiles__title(href="#")
          p وەڕگێران و نووسین بۆ فیلم و زنجيرەکان لەلایەن
        .pros
            each p in profile
                a.pro(href=`/member/${p.slugMember}`)
                  img.pro__img(src=`/img/profile/${p.imageProfile}`, alt="Poster 1")
                  .realtors__details
                    p.realkljtors__sold= p.memberName
                    h4.heading-4.heading-4--light= `(${p.numOfPosters}) ژمارەی بەرهەم`    